h1 {
    color: blue;
}

img {
    width: 350px;
}

#thirdDiv {
    width: 600px;
    height: 500px;
    background-color: green;
    border: 10px solid blue;
    padding: 50px;
    margin: 50px;    
    
    
    
}

#spanID {
    font-size: 18px;
    margin: 50px;
}